# Bytecode caches and local python stuff
__pypackages__/
.python-version
__pycache__/
*.pyc

# Distribution
build/
dist/

# Testing + coverage
.coverage
.pytest_cache/

# Editors
.idea/
.vscode
.vscode/

# Environments
.env
.venv
env/
venv/

# OS caches
.DS_Store

# Github runner caches
.cache
